.signup-section {
  padding-block: 2rem;
  margin-block: 2rem;
  background-color: $secondary-background;

  & > div {
    @include container(auto);
    display: flex;
    align-items: center;
    gap: clamp(0.5rem, 5vw, 3rem);

    .star-img {
      width: min(6rem, 10%);
    }

    div {
      display: flex;
      flex-direction: column;

      h2 {
        font-size: clamp(1.5rem, 5vw, 2rem);
        letter-spacing: 1px;
        color: $text;
      }

      a {
        font-size: clamp(0.5rem, 4vw, 1.5rem);
        letter-spacing: 1px;
        font-weight: 700;
        color: $text;

        img {
          vertical-align: middle;
        }
      }
    }
  }
}

@media screen and (max-width: $mobile-width) {
  .signup-section {
    margin-block: 1rem;

    & > div {
      min-width: 100%;

      .star-img {
        margin-left: 1rem;
      }
    }
  }
}
